[Unit]
Description=RabbitMQ listener to receive updates from Deployment 

[Service]
ExecStart=/home/mushran/git/IT490-Project-Repo/Deployment/UpdateListener.php

[Install]
WantedBy=default.target 
